#left { width:150px;
            float:left;
                          min-height:150px; height:auto !important; height:150px;
}

#left .logo { width:138px;
            margin:0 auto;
                           background:url('http://eksigator.com/templates/images/logo_138.jpg') no-repeat left;
                                              height:140px;
}



#right { float:left;
}
