#left { width:150px;
        float:left;
        border:1px solid blue;
        padding:10px;
}

#left .logo { width:138px;
            margin:0 auto;
            background:url('http://eksigator.com/templates/images/logo_138.jpg') no-repeat left;
            height:140px;
}



#right {
width:550px;
padding:10px;
    border:1px solid red; 
    float:left;
}
