.sayfa {
    width:690px;
    background:#FFFFFF;
    padding:0px 10px 20px 10px;
    color:#000000;
    line-height:18px;
    overflow:auto;
    height:400px;
}

.inputFields {
    margin-top:10px;
}

.inputFields #newTitle{
    display:block;
    float:left;
    height:30px;
    width:400px;
    font-size:20px;
    border:1px dotted #7c7c7c;
    padding:0 4px;
}


#newTitle.wait{
    color:#d4d2c7;
}


.inputFields #newTitleButton {
    display:block;
    float:left;
    padding:0;
    margin:0;
    height:32px;
    margin-left:5px;
    width:160px;
    border:none;
    background:#5ba63a;
    font-weight:bold;
    color:#FFFFFF;
}

.row {
    margin:3px 0;
    border:1px solid transparent;
}

.row:hover {
    border:1px dotted #242f31;
}

#updated .line0{
    background:#dbffbb;
}

#updated .line1{
    background:#eaffcc;
}

#notUpdated .line0 {
    background:#ececec;
}

#notUpdated .line1 {
    background:#f8f8f8;
}

.header {
    font-weight:bold;
    text-decoration:underline;
}

.toggle{
    padding-left:20px;
    background:url('../../images/toggleDown.png') no-repeat center left;
    cursor:pointer;
}

.toggleUp {
    background-image:url('../../images/toggleUp.png');
}


.remove {
    font-weight:bold;
    cursor:pointer;
    color:#bd0101;
}
